@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 20px;
    color: #56424A;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';

}

main {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #aaa;
}

form {
    font-size: 1rem;
    padding: 1rem;

}


input#min.price::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
}

input.price#max::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;

}

header {
    /*https://unsplash.com/photos/_bN4LHx-ogo*/
    background-image: url(/img/marcus-wallis-471436-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 13rem;

}

h1 {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "a b c";

}

img {
    /*overflow: auto;tampoco*/
    grid-area: a;
    width: 23%;
}

/*
h1 span {
grid-area: b;
display: flex;
    flex-direction: column;
    justify-content: space-between;
flex-basis:50%;
display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a b ";

    justify-content: flex-end;

        float: right;
    font-size: 3rem;

    
    display:;
    align-content: flex-start;
    text-align:right;

    color: aqua;
 
}
*/
h1 span {
    text-shadow: 2px 2px black;
    color: #D3A198;
    font-size: 3.2rem;
}

span:first-child {
    grid-area: b;
    flex-basis: 50%;


}

span:last-child {
    margin-right: 2rem;
    grid-area: c;
    flex-basis: 50%;

}

div.form-box.place {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

}

input#city {
    padding-left: 1rem;
    height: 1.6rem;
    font-size: 0.7em;
    color: hsl(275 8% 72%);
    /*    width: 100%;*/
}

div.form-box.check-in {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

input#check-in {
    padding-left: 1rem;
    height: 1.6rem;
    font-size: 0.7em;
    color: hsl(275 8% 72%);
    /*    width: 100%;*/
}

div.form-box.check-out {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

input#check-out {
    padding-left: 1rem;
    height: 1.6rem;
    font-size: 0.7em;
    color: hsl(275 8% 72%);
    /*    width: 50%;*/
}

div.form-box.min-price {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

div.form-box.max-price {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

div.form-box.dogs {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

input#num-dogs {
    padding-left: 1rem;
    height: 1.6rem;
    font-size: 0.7em;
    color: hsl(275 8% 72%);
}

div.form-box.search {
    padding: 0.5rem;
}

button.search-btn {
    font-size: 0.8rem;
    color: #434256;
    background-color: #D09C90;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
}




/*************************************************
MEDIA Q 1
**************************************************/

@media (min-width: 600px) and (max-width:999px) {


    form {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a a"
            "b c"
            "d e"
            "f g";
    }

    div.form-box.place {
        grid-area: a;
        /*        flex-basis: 100%;*/

    }

    div.form-box.check-in {
        padding: 0rem;
        padding-left: 0.5rem;
        grid-area: b;
    }

    div.form-box.check-out {
        padding: 0rem;
        padding-right: 0.5rem;
        grid-area: c;

    }


    div.form-box.search {
        display: flex;
        flex-direction: row-reverse;
    }

    button.search-btn {
        margin: 1.1rem 0 0 0;
    }

}

/***************************************************
MEDIA Q 2
****************************************************/
@media (min-width: 1000px) {

    main {
        /*            background-color: red;*/
        background-image: ;
        background-size: cover;
        background-position: right;
        display: flex;
        flex-direction: row;

    }


    header {
        flex-basis: 50%;
        height: 350px;
        /*            height: none;This one doesn't work?*/
    }

    form {

        flex-basis: 50%;
    }

    form {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a a"
            "b c"
            "d e"
            "f g";
    }

    div.form-box.place {
        grid-area: a;
    }


    /*        flex-basis: 100%;

    }

    div.form-box.check-in {
        padding: 0rem;
        padding-left: 0.5rem;
        grid-area: b;
    }

    div.form-box.check-out {
        padding: 0rem;
        padding-right: 0.5rem;
        grid-area: c;

    }

    /*
    div.form-box.search {
    align-content:flex-end;
}
*/
    div.form-box.search {
        display: flex;
        flex-direction: row-reverse;
    }

    button.search-btn {
        /*   align-content:flex-end;*/
        margin: 1.1rem 0 0 0;
    }

}


/*
questions

1.favicon
2.height
*/
